body {
  margin: 0;
  padding: 0;
  font-family: $fontFamilyDefault;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  color: $black;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: $black;
}

a {
  color: $primary;

  &:hover {
    text-decoration: none;
  }
}

// custom bootstrap table styling
.app-table {
  tbody > tr:nth-of-type(odd) {
    background: $white10;
  }
}

.app-thead {
  font-size: $fontSizeSmall14;
  color: $black500;

  & > tr > th {
    border-bottom-width: 0;
  }

  .content-details__action-header {
    width: 300px;
  }
}

.app-tbody-tr {
  font-size: $fontSizeSmall14;
  color: $black500;

  .action-link {
    margin-right: 10px;
  }

  &:hover {
    background: $white10 !important;
  }
}
